@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-outfit), sans-serif;
}

/* To ensure Tailwind utilities work properly */
.font-Outfit {
  font-family: var(--font-outfit), sans-serif;
}

.font-Ovo {
  font-family: var(--font-ovo), serif;
}
